@font-face {
  font-family: 'Lazer84'; /*a name to be used later*/
  src: url('../fonts/Lazer84.ttf'); /*URL to font*/
}
@font-face {
  font-family: 'SEGA'; /*a name to be used later*/
  src: url('../fonts/SEGA.TTF'); /*URL to font*/
}

body {
  background-image: url("../images/mainbg.png");
}

.bodycontainer {
  width: 100%;
  min-width: 100%;
  clear: both;
  margin-bottom: 100px;
}
/* 90s background image */
.jumbotron {
  background-image: url("../images/cupbg.jpg");
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 20px 20px rgb(130, 0, 252);
}
/* Large header text */
.display-4 {
  text-align-last: center;
  font-size: 130px;
  font-family: 'Lazer84';
  color: rgb(8, 255, 70);
  text-shadow: 12px 15px  #ff5af1;
  transform:rotateZ(-8deg);
}
.lead {
  text-align: center;
  font-family: 'Lazer84';
  color: rgb(8, 255, 70);
  text-shadow: 5px 5px  #ff5af1;
  font-size: 45px;
}
.startText {
  color: #007bff;
  /* text-shadow: 1px 1px #ff5af1; */
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 45px;
  font-family: 'SEGA';
  background-color: #ffffff;
  border: solid rgb(8, 255, 70) 8px;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 85px;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 15px 15px rgb(130, 0, 252);
}

.winchangeimg {
  margin-bottom: 100px;
}
.onwinimg {
   border-radius: 5px;
   box-shadow: 15px 15px rgb(130, 0, 252);
   border: solid 8px rgb(8,255,70);
}
.mainbody {
  /* background-image: url("../images/TVborder.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 25%;
  margin-left: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(101, 101, 253);
  border-radius: 5px;
  box-shadow: 15px 15px rgb(130, 0, 252);
  border: solid rgb(8, 255, 70) 8px;
  
  
}

.titles {
  font-family: 'Lazer84';
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px  #ff5af1;
  font-size: 40px;
}

.answers {
  font-family: 'Lazer84';
  color: rgb(8, 255, 70);
  text-shadow: 2px 2px  #ff5af1;
  font-size: 40px;
}

span {
   text-align: center;
}